@import url('https://fonts.googleapis.com/css?family=Montserrat:300, 400,500,700,900|Raleway:300, 400,500,700,900|');
@import 'variables';

:global {
  body {
		overflow-x:hidden;
		overflow-y: hidden;
		margin: 0;
		padding: 0;
		color: $stone-gray;
		font-family: 'Montserrat', sans-serif;

		ul{
			list-style:none;
		}

		.active{
			font-weight:700;
		}
  }
}

	.page{
		border:1px solid gray;
		padding: 1em 2em;
		height:100vh;
	}

	.top-row{
		border:1px solid pink;
		height:4em;
		display:flex;
		justify-content: space-between;
		align-items:center;
	}

	.wordmark{
		font-weight:600;
		font-size:1.4em;
		display:flex;
		flex-direction:row;
		cursor: pointer;
		-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
		align-items:center;
	}

	.tree-logo{
		height:30px;
	}

	.nav-bar{
		font-size:0.8em;
		font-family: 'Raleway', sans-serif;
	}

	.nav-list{
		width:250px;
		display:flex;
		flex-direction:row;
		justify-content: space-between;
	}
	.nav-list > li{
		text-transform:uppercase;
	}