@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,900');

:global {
  body {
   overflow-x:hidden;
   overflow-y: hidden;
    margin: 0;
    padding: 0;
    background: black;
    font-family: 'Nunito', sans-serif;
  }
}