@import 'variables';



:global {

	html{
  	text-decoration: none !important;
	}

  body {
  	text-decoration: none !important;
		overflow-x:hidden;
		margin: 0;
		padding: 0;
		color: $stone-gray;
		font-family: 'Montserrat', sans-serif;

		ul{
			list-style:none;
		}

		a{
	    color: $stone-gray;
	    text-decoration: none;

	    &:hover{
		    color: $stone-gray;
  			text-decoration: none;
	    }
		}

		.active{
			font-weight:700 !important;
		}
  }
}

	.page{
		border:1px solid green;
		width:100vw;
		padding: 1em 2em;
	}

	.top-row{
		height:4em;
		display:flex;
		justify-content: space-between;
		align-items:center;
	}

	.wordmark{
		text-decoration: none;
		border:1px solid transparent;
		transition: all 0.5s cubic-bezier(.25,.8,.25,1);
		font-weight:600;
		font-size:1.4em;
		border-radius:2px;
		padding:0.3em;
		display:flex;
		flex-direction:row;
		cursor: pointer;
		-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
		align-items:center;
			&:hover{
				transform:translateY(-2px);
				text-decoration: none;
				border:1px solid $light-gray;
			  box-shadow: 0 7px 7px rgba(0,0,0,0.13), 0 5px 5px rgba(0,0,0,0.11);
			}
	}

	.tree-logo{
		height:30px;
	}

	.nav-bar{
		text-decoration: none;
		font-size:0.75em;
		font-family: 'Raleway', sans-serif;
	}

	.nav-list{
		display:flex;
		flex-direction:row;
		justify-content: space-between;
	}
	.nav-list > a{
		text-decoration: none;
		border-radius:2px;
		cursor:pointer;
		font-weight:500;
		padding:0.5em 1em;
		text-transform:uppercase;
		border:1px solid transparent;
		transition: all 0.5s cubic-bezier(.25,.8,.25,1);

		&:hover{
			transform:translateY(-2px);
			text-decoration: none;
			border:1px solid $light-gray;
		  box-shadow: 0 7px 14px rgba(0,0,0,0.13), 0 5px 5px rgba(0,0,0,0.11);
		}
	}