@import 'variables';



	h3{
		font-size:2em;
		font-family:'Raleway';
		font-weight:900;
		margin-top:2em;
		margin-bottom:1em;
	}

.info-list{
	font-weight:100;
	font-size:1.1em;
	padding-left:0;
}


.logo-pic{
	width:3.5em;
	padding-right:1em;
}

.insurance{
	font-weight:100;
}