@import 'variables';

.footer{
	background:$cloud-gray;
	height:150px;
	display:flex;
	font-weight:400;
	flex-direction:row;
	align-items: center;
	justify-content: space-between;
}

.nav-icon{
	width:2em;
	margin-left:10px;

	&:hover{
		filter:brightness(110%);
	};
}

.menu{
	display:flex;
	font-weight:100;
	flex-direction:row;
	align-items: center;
	justify-content: space-around;

	li {
		color:white;
		a{
			color:white;
		}
	}
}