@import 'variables';

.footer{
		font-family:'Raleway';
		/* IE10+ */ 
	background:$cloud-gray;
	height:200px;
	display:flex;
	font-weight:400;
	flex-direction:row;
	align-items: center;
	justify-content: space-between;
}

.nav-icon{
	width:3em;
	padding:0.3em;
	margin-left:10px;
	transition: all 0.5s cubic-bezier(.25,.8,.25,1);

	&:hover{
		filter:brightness(110%);
		transform:translateY(-2px);
	};
}

.menu{
	display:flex;
	font-weight:100;
	flex-direction:row;
	align-items: center;
	justify-content: space-around;

	li {
		color:white;
		a{
			color:white;
		}
	}
}