

@media (max-width: 942px) {
  .contact-info {
    margin-bottom: 54px; }
    .contact-info h4 {
      margin-bottom: 47px; }
    .contact-info p {
      margin-bottom: 11px; }
      .contact-info p .info {
        width: 17%; }
      .contact-info p .info-description {
        width: 83%; } }

@media (max-width: 767px) {
  .contact-info {
    margin-bottom: 78px; }
    .contact-info h4 {
      font-size: 16px;
      font-size: 1.6rem;
      line-height: 24px;
      margin-bottom: 59px; }
    .contact-info p .info {
      width: 34%; }
    .contact-info p .info-description {
      width: 66%; } }

#contact-form {
  margin-bottom: 22px; }
  #contact-form .name {
    margin-top: 24px;
    margin-bottom: 23px; }
    @media (max-width: 767px) {
      #contact-form .name {
        margin-top: 30px;
        margin-bottom: 9px; } }
  #contact-form .message {
    margin-top: 20px;
    margin-bottom: 46px;
    min-height: 90px; }
    @media (max-width: 767px) {
      #contact-form .message {
        margin-top: 10px;
        margin-bottom: 71px; } }

@media (max-width: 767px) {
  .form-wrapper h4 {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 24px; } }

.form-wrapper .submit-btn {
  padding: 15px 37px; }
  @media (max-width: 767px) {
    .form-wrapper .submit-btn {
      width: 100%; } }

.contact-help-block {
  min-height: 19px;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 300; }


.line {
  width: 100%;
  height: 1px; }

.btn-path {
  text-align: center;
  position: relative; }
  .btn-path .line {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px; }
  .btn-path .circle-btn {
    cursor: pointer;
    text-align: center;
    position: relative;
    width: 52px;
    height: 52px;
    display: inline-block;
    border-radius: 100%;
    transition: box-shadow .3s ease; }
    .btn-path .circle-btn:before {
      content: "";
      display: block;
      position: absolute;
      top: calc(50% - 13px);
      left: calc(50% - 13px);
      border-radius: 50%;
      width: 26px;
      height: 26px;
      box-shadow: 0 0 30.5px 4.6px rgba(0, 51, 29, 0.25); }
    .btn-path .circle-btn:after {
      content: "\f106";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      position: relative;
      top: 29%; }
    .btn-path .circle-btn.active:after, .btn-path .circle-btn.pushed:after {
      transform: rotate(180deg);
      top: 34%; }

.title-box {
  margin-bottom: 42px;
  position: relative;
  overflow: hidden;
  font-family: "Poppins" !important; }
  .title-box .title {
    opacity: 0;
    text-align: center;
    margin: 0;
    width: 100%;
    position: absolute;
    font-size: 310px;
    line-height: 320px;
    font-family: Poppins !important; }
    @media (max-width: 991px) {
      .title-box .title {
        font-size: 257px;
        line-height: 257px; } }
    @media (max-width: 767px) {
      .title-box .title {
        font-size: 147px;
        line-height: 147px; } }
  .title-box canvas {
    position: relative; }

.fullscreen_bg {
  background-size: cover !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.home-headings-container {
  position: relative;
  padding: 0; }

.home-heading {
  margin: 0;
  top: 0;
  left: 206px;
  position: absolute;
  z-index: 1;
  font-weight: 500; }
  @media (max-width: 1199px) {
    .home-heading {
      left: 108px; } }
  @media (max-width: 991px) {
    .home-heading {
      left: 62px;
      font-size: 30px;
      font-size: 3rem; } }
  @media (max-width: 767px) {
    .home-heading {
      top: -10px;
      padding-left: 5px;
      left: 0;
      right: 0;
      margin: 0 auto;
      font-size: 20px;
      font-size: 2rem; } }


.text_bg_1, .text_bg_2, .text_bg_3, .text_bg_4 {
  background: no-repeat 100% 100%; }

.text_bg_1 {
  animation: wave 60s infinite linear; }

.text_bg_2 {
  animation: wave-oposit 40s infinite linear; }

.text_bg_3 {
  animation: wave 40s infinite linear; }

.text_bg_4 {
  animation: wave-oposit 20s infinite linear; }

@keyframes wave {
  0% {
    transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg); } }

@keyframes wave-oposit {
  0% {
    transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg); }
  100% {
    transform: rotateZ(-360deg) translate3d(0, 10%, 0) rotateZ(360deg); } }

.filter-wrapper {
  overflow: hidden;
  position: relative; }
  @media (max-width: 767px) {
    .filter-wrapper {
      height: 112px; }
      .filter-wrapper:before, .filter-wrapper:after {
        content: "";
        position: absolute;
        bottom: 0;
        top: 0;
        z-index: 10;
        width: 20%;
        transition: all .2s ease; }
      .filter-wrapper:before {
        left: 0; }
      .filter-wrapper:after {
        right: 0; }
      .filter-wrapper.hide-left:before {
        visibility: hidden;
        opacity: 0; }
      .filter-wrapper.hide-right:after {
        opacity: 0;
        visibility: hidden; } }

.portfolio-filter {
  text-align: center;
  border: none;
  margin-bottom: 57px; }
  @media (max-width: 994px) {
    .portfolio-filter {
      margin-top: 55px;
      margin-bottom: 45px; } }
  @media (max-width: 767px) {
    .portfolio-filter {
      margin-top: 28px;
      white-space: nowrap;
      overflow-x: scroll;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      padding-bottom: 200px; } }
  .portfolio-filter .grid-btn {
    outline: none !important;
    background: transparent;
    display: inline-block;
    float: none;
    z-index: 10;
    padding: 0;
    font-size: 11px;
    font-size: 1.1rem;
    margin: 0 25px 0 0;
    border: none !important; }
    @media (max-width: 767px) {
      .portfolio-filter .grid-btn {
        font-size: 16px !important;
        font-size: 1.6rem !important; } }
    .portfolio-filter .grid-btn.active {
      border: none !important; }
    .portfolio-filter .grid-btn:hover {
      border: none !important; }
    .portfolio-filter .grid-btn:last-child {
      margin: 0; }
  .portfolio-filter .masonry-scroll-btn {
    display: inline-block;
    float: right; }
    .portfolio-filter .masonry-scroll-btn span {
      cursor: pointer;
      background: none;
      border: none;
      font-size: 13px !important;
      font-size: 1.3rem !important;
      outline: none !important;
      padding-top: 5px;
      transition: color .2s ease; }
      .portfolio-filter .masonry-scroll-btn span:first-child {
        margin-right: 47px; }

.portfolio-list.grid {
  min-height: 512.656px; }
  .portfolio-list.grid .grid-sizer, .portfolio-list.grid .portfolio-item {
    width: 30.5%; }
    @media (max-width: 992px) {
      .portfolio-list.grid .grid-sizer, .portfolio-list.grid .portfolio-item {
        width: 48%; } }
    @media (max-width: 767px) {
      .portfolio-list.grid .grid-sizer, .portfolio-list.grid .portfolio-item {
        width: 100%; } }
  .portfolio-list.grid .gutter-sizer {
    width: 4%; }
  .portfolio-list.grid .portfolio-item {
    margin-bottom: 40px;
    display: block; }
    @media (max-width: 992px) {
      .portfolio-list.grid .portfolio-item {
        margin-bottom: 30px; } }
    .portfolio-list.grid .portfolio-item .content {
      position: relative;
      transition: all .2s ease; }
      .portfolio-list.grid .portfolio-item .content img {
        width: 100%; }
      .portfolio-list.grid .portfolio-item .content > a {
        position: absolute;
        width: 100%;
        height: 100%;
        display: inline-block;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0; }
        @media (max-width: 994px) {
          .portfolio-list.grid .portfolio-item .content > a {
            display: none; } }
      .portfolio-list.grid .portfolio-item .content span {
        position: absolute;
        display: flex;
        align-items: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; }
        .portfolio-list.grid .portfolio-item .content span a {
          text-decoration: none !important;
          visibility: hidden;
          opacity: 0;
          display: inline-block;
          width: 100%;
          padding: 25px 0;
          text-align: center;
          transition: all .2s ease; }
      .portfolio-list.grid .portfolio-item .content:hover, .portfolio-list.grid .portfolio-item .contentfocus {
        transform: perspective(1px) scale(1.1); }
        .portfolio-list.grid .portfolio-item .content:hover a, .portfolio-list.grid .portfolio-item .contentfocus a {
          opacity: 1;
          visibility: visible; }
        @media (max-width: 767px) {
          .portfolio-list.grid .portfolio-item .content:hover, .portfolio-list.grid .portfolio-item .contentfocus {
            transform: none; } }

.masonry-wrapper {
  overflow: hidden;
  margin: 0 -15px;
  height: 510px; }
  @media (max-width: 992px) {
    .masonry-wrapper {
      height: auto;
      width: 684px;
      margin: 0 auto 90px; } }
  @media (max-width: 767px) {
    .masonry-wrapper {
      margin: 0;
      width: auto;
      height: auto; } }
  .masonry-wrapper > div {
    overflow: auto; }

.portfolio-list-masonry {
  height: 510px; }
  .portfolio-list-masonry .grid-sizer, .portfolio-list-masonry .portfolio-item {
    width: calc(100vw/6);
    height: 170px; }
    .portfolio-list-masonry .grid-sizer a, .portfolio-list-masonry .portfolio-item a {
      display: block;
      height: 100%;
      width: 100%; }
    @media (max-width: 992px) {
      .portfolio-list-masonry .grid-sizer, .portfolio-list-masonry .portfolio-item {
        width: 228px; } }
    @media (max-width: 767px) {
      .portfolio-list-masonry .grid-sizer, .portfolio-list-masonry .portfolio-item {
        width: 100% !important;
        margin-bottom: 30px; } }
  .portfolio-list-masonry .width-2 {
    width: calc(100vw/6*2); }
    @media (max-width: 992px) {
      .portfolio-list-masonry .width-2 {
        width: 456px; } }
  .portfolio-list-masonry .height-2 {
    height: 340px; }
  .portfolio-list-masonry .gutter-sizer {
    width: 0; }
  .portfolio-list-masonry .portfolio-item {
    transition: opacity .2s ease;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%; }

.portfolio-carousel .owl-stage {
  display: flex;
  align-items: center; }

.portfolio-carousel .owl-item .item {
  transition: transform .2s ease;
  width: 65vw;
  max-width: 900px;
  max-height: 465px;
  transform: scale(0.8);
  margin-top: 28px;
  margin-bottom: 40px; }
  @media (max-width: 992px) {
    .portfolio-carousel .owl-item .item {
      width: 62.5vw;
      max-width: 480px;
      transform: none !important;
      margin: 24px 37px 40px 37px !important; } }
  @media (max-width: 767px) {
    .portfolio-carousel .owl-item .item {
      width: 75vw;
      min-width: 240px;
      margin: 28px 12.5px 40px 12.5px !important; } }

.portfolio-carousel .owl-item.center .item {
  transform: scale(1); }
  .portfolio-carousel .owl-item.center .item .description {
    visibility: visible; }

.portfolio-carousel .item {
  position: relative;
  overflow: hidden; }
  .portfolio-carousel .item .description {
    position: absolute;
    right: -2px;
    top: -2px;
    bottom: -2px;
    width: 41%;
    padding: 49px 40px;
    visibility: hidden;
    animation-delay: .2s; }
    @media (max-width: 1199px) {
      .portfolio-carousel .item .description {
        padding: 25px; } }
    @media (max-width: 992px) {
      .portfolio-carousel .item .description {
        position: initial;
        width: 100%;
        visibility: visible !important; }
        .portfolio-carousel .item .description h5 {
          font-size: 14px !important;
          font-size: 1.4rem !important; } }
    .portfolio-carousel .item .description h5 {
      margin-top: 0;
      margin-bottom: 6px; }
    .portfolio-carousel .item .description p {
      margin-bottom: 25px; }
    .portfolio-carousel .item .description a {
      padding: 15px 24px;
      transition: box-shadow .2s ease-in-out, visibility 0s;
      margin-bottom: 10px; }
      @media (max-width: 767px) {
        .portfolio-carousel .item .description a {
          padding: 12px 11px; } }

#portfolio-pagination {
  text-align: center; }
  @media (max-width: 992px) {
    #portfolio-pagination {
      margin-top: 20px; } }
  #portfolio-pagination span {
    font-size: 12px;
    font-size: 1.2rem; }

.menu-icon-wrapper > span {
  line-height: 50px;
  position: absolute;
  top: 4px;
  font-size: 10px;
  font-size: 1rem;
  letter-spacing: 0.15em;
  text-transform: uppercase; }
  .menu-icon-wrapper > span i {
    font-size: 13px !important;
    font-size: 1.3rem !important; }
  .menu-icon-wrapper > span.prev {
    left: 15px; }
    .menu-icon-wrapper > span.prev i {
      margin-right: 10px; }
  .menu-icon-wrapper > span.next {
    right: 15px; }
    .menu-icon-wrapper > span.next i {
      margin-left: 10px; }

@media (min-width: 992px) {
  .open-project-lightbox {
    margin-top: 72px; }
    .open-project-lightbox a {
      margin-bottom: 65px; } }

.open-project-lightbox a {
  outline: none !important;
  display: block;
  position: relative;
  width: 100%; }
  .open-project-lightbox a:hover .plus {
    opacity: 1;
    background:black;
    color:white;
    transition: opacity .2s ease; }
  .open-project-lightbox a .plus {
    transition: opacity .2s ease;
    opacity: 0;
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 3px;
    position: absolute;
    top: calc(50% - 45px);
    left: calc(50% - 45px); }
    .open-project-lightbox a .plus span:first-child {
      margin-top: 24px;
      margin-left: 44px;
      display: block;
      width: 1px;
      height: 40px; }
    .open-project-lightbox a .plus span:last-child {
      display: block;
      width: 40px;
      height: 1px;
      margin-left: 24px;
      margin-top: -19px; }
  .open-project-lightbox a img {
    max-width: 100%; }

.project-description {
  margin-top: 47px; }
  .project-description h5 {
    margin-bottom: 19px; }
  .project-description p {
    line-height: 20px; }
  @media (min-width: 768px) and (max-width: 992px) {
    .project-description {
      margin-top: 0; }
      .project-description h5 {
        margin-bottom: 16px;
        margin-top: 42px; }
      .project-description p {
        line-height: 22px; } }
  @media (max-width: 767px) {
    .project-description {
      margin-top: 0; }
      .project-description h5 {
        font-size: 14px;
        font-size: 1.4rem;
        margin-top: 17px;
        margin-bottom: 7px; } }

.project-info {
  margin-top: 47px; }
  .project-info p {
    line-height: 22px;
    padding-left: 2px;
    margin-bottom: 10px; }
    .project-info p .info {
      font-size: 10px;
      font-size: 1rem;
      letter-spacing: 0.1em;
      font-weight: 700;
      width: 37%;
      display: inline-block;
      padding-right: 20px;
      height: 100%; }
    .project-info p .info-description {
      width: 63%;
      display: inline-block; }
      .project-info p .info-description a {
        transition: all .2s ease-in-out;
        display: inline-block;
        margin-right: 27px; }
        .project-info p .info-description a:last-child {
          margin-right: 0; }
  @media (min-width: 768px) and (max-width: 992px) {
    .project-info p .info {
      width: 17.5%; } }
  @media (max-width: 767px) {
    .project-info {
      margin-top: 18px; }
      .project-info p .info {
        width: 28%; } }

.mfp-close, .mfp-image-holder .mfp-close {
  opacity: 1;
  width: 20px;
  height: 20px;
  padding: 0;
  top: 30px;
  right: -72px; }
  .mfp-close:active, .mfp-image-holder .mfp-close:active {
    top: 30px; }
  @media (max-width: 992px) {
    .mfp-close, .mfp-image-holder .mfp-close {
      bottom: -100px;
      top: initial;
      right: calc(50% - 10px); }
      .mfp-close:active, .mfp-image-holder .mfp-close:active {
        bottom: -100px;
        top: initial; } }
  .mfp-close div, .mfp-image-holder .mfp-close div {
    opacity: 1 !important;
    height: 100%;
    position: relative !important;
    left: 0;
    right: 0;
    top: 0; }
    .mfp-close div span, .mfp-image-holder .mfp-close div span {
      display: block;
      width: 28px;
      height: 1px;
      position: absolute;
      transition: all .2s ease-in-out; }
      .mfp-close div span:first-child, .mfp-image-holder .mfp-close div span:first-child {
        top: 0;
        left: 0;
        transform: rotate(45deg);
        transform-origin: left top; }
      .mfp-close div span:last-child, .mfp-image-holder .mfp-close div span:last-child {
        bottom: 0;
        left: 0;
        transform: rotate(-45deg);
        transform-origin: left bottom; }
    .mfp-close div:active, .mfp-image-holder .mfp-close div:active {
      top: 0; }

.mfp-container {
  padding: 0 80px; }
  @media (max-width: 992px) {
    .mfp-container {
      padding: 0 24px; } }

button.mfp-arrow {
  opacity: 1;
  height: 35px;
  width: 18px; }
  button.mfp-arrow div {
    position: relative;
    height: 100%;
    overflow: hidden; }
    button.mfp-arrow div span {
      transition: all .2s ease-in-out;
      position: absolute;
      width: 25px;
      height: 1px; }
    button.mfp-arrow div.mfp-arrow-right span:first-child {
      top: 0;
      left: 0;
      transform: rotate(44deg);
      transform-origin: left top; }
    button.mfp-arrow div.mfp-arrow-right span:last-child {
      bottom: 0;
      left: 0;
      transform: rotate(-44deg);
      transform-origin: left bottom; }
    button.mfp-arrow div.mfp-arrow-left span:first-child {
      top: 0;
      right: 0;
      transform: rotate(-44deg);
      transform-origin: right bottom; }
    button.mfp-arrow div.mfp-arrow-left span:last-child {
      bottom: 0;
      right: 0;
      transform: rotate(44deg);
      transform-origin: right top; }
  button.mfp-arrow.mfp-arrow-right {
    right: -72px; }
  button.mfp-arrow.mfp-arrow-left {
    left: -72px; }
  button.mfp-arrow:before, button.mfp-arrow:after {
    display: none; }
  @media (max-width: 992px) {
    button.mfp-arrow {
      top: initial;
      bottom: -107px; }
      button.mfp-arrow.mfp-arrow-right {
        right: 19%; }
      button.mfp-arrow.mfp-arrow-left {
        left: 19%; } }

.portfolio-open-nav {
  height: 75px; }
  .portfolio-open-nav .prev, .portfolio-open-nav .next {
    cursor: pointer;
    line-height: 75px;
    top: 4px;
    font-size: 10px;
    font-size: 1rem;
    letter-spacing: 0.15em;
    text-transform: uppercase; }
    .portfolio-open-nav .prev i, .portfolio-open-nav .next i {
      font-size: 13px;
      font-size: 1.3rem; }
    .portfolio-open-nav .prev:hover, .portfolio-open-nav .next:hover {
      text-decoration: none; }
    .portfolio-open-nav .prev.prev, .portfolio-open-nav .next.prev {
      margin-right: 40px; }
      .portfolio-open-nav .prev.prev i, .portfolio-open-nav .next.prev i {
        margin-right: 10px; }
    .portfolio-open-nav .prev.next i, .portfolio-open-nav .next.next i {
      margin-left: 10px; }
    @media (max-width: 767px) {
      .portfolio-open-nav .prev, .portfolio-open-nav .next {
        line-height: inherit;
        position: absolute;
        top: calc(50% - 7px); }
        .portfolio-open-nav .prev.next, .portfolio-open-nav .next.next {
          right: 15px; } }
  .portfolio-open-nav .close {
    position: relative;
    left: 0;
    top: calc(50% - 5.5px);
    width: 11px;
    height: 11px;
    opacity: 1; }
    .portfolio-open-nav .close span {
      display: block;
      width: 15px;
      height: 1px;
      position: absolute; }
      .portfolio-open-nav .close span:first-child {
        top: 0;
        left: 0;
        transform: rotate(45deg);
        transform-origin: left top; }
      .portfolio-open-nav .close span:last-child {
        bottom: 0;
        left: 0;
        transform: rotate(-45deg);
        transform-origin: left bottom; }
    @media (max-width: 767px) {
      .portfolio-open-nav .close {
        position: absolute;
        left: calc(50% - 5.5px); } }

.hidden-md-carousel {
  height: auto;
  opacity: 1; }
  .hidden-md-carousel .owl-stage-outer {
    height: auto;
    opacity: 1; }
  @media (min-width: 992px) {
    .hidden-md-carousel {
      opacity: 0;
      height: 0; }
      .hidden-md-carousel .owl-stage-outer {
        height: 0;
        opacity: 0; } }

.open-project-carousel {
  margin: 0 !important; }
  .open-project-carousel .owl-stage {
    white-space: nowrap; }
  .open-project-carousel .owl-item {
    display: inline-block !important;
    float: none !important;
    opacity: .5;
    transition: opacity .2s ease-in-out; }
    .open-project-carousel .owl-item.center.active {
      opacity: 1; }
    .open-project-carousel .owl-item a {
      position: relative;
      width: 74.22vw;
      max-height: 360px;
      max-width: 570px;
      margin: 0 15px; }
      @media (max-width: 767px) {
        .open-project-carousel .owl-item a {
          width: 78.13vw;
          min-width: 250px;
          margin: 0 7.5px; } }

.post {
  margin-top: 62px;
  margin-bottom: 50px; }
  @media (max-width: 992px) {
    .post {
      margin-top: 0; } }
  .post .post-img {
    margin-top: 49px; }
    .post .post-img img {
      max-width: 100%; }
    @media (max-width: 767px) {
      .post .post-img {
        margin-top: 0;
        margin-left: -15px;
        margin-right: -15px; } }
  @media (max-width: 767px) {
    .post h2 {
      font-size: 20px;
      font-size: 2rem;
      text-align: left; } }
  @media (max-width: 767px) {
    .post h4 {
      margin-top: 30px;
      margin-bottom: 9px;
      font-size: 16px;
      font-size: 1.6rem;
      text-align: left; } }
  .post .post-text {
    margin-top: 46px; }
    .post .post-text .meta-data {
      overflow: hidden;
      margin-top: 55px;
      font-size: 10px;
      font-size: 1rem; }
      .post .post-text .meta-data .activity {
        display: inline-block; }
        .post .post-text .meta-data .activity span {
          margin-right: 12px; }
        @media (max-width: 767px) {
          .post .post-text .meta-data .activity {
            float: right; }
            .post .post-text .meta-data .activity span:last-child {
              margin: 0; } }
      .post .post-text .meta-data span.share {
        margin-left: 38px; }
        .post .post-text .meta-data span.share span {
          margin-right: 25px; }
        @media (max-width: 767px) {
          .post .post-text .meta-data span.share {
            float: left;
            margin: 0; }
            .post .post-text .meta-data span.share span {
              display: none; } }
      @media (max-width: 767px) {
        .post .post-text .meta-data {
          margin-top: 25px; } }
    @media (max-width: 767px) {
      .post .post-text {
        margin-top: 25px; } }

#comments {
  margin-top: 73px;
  margin-bottom: 43px; }
  #comments .avatar {
    margin-top: 30px;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden; }
    #comments .avatar img {
      max-width: 100%; }
    @media (max-width: 767px) {
      #comments .avatar {
        width: 35px;
        height: 35px; } }
  #comments .comment-list {
    margin: 36px 0 0;
    padding: 0 10px; }
    @media (max-width: 767px) {
      #comments .comment-list {
        margin: 0;
        padding: 0; } }
  #comments li.comment {
    display: block;
    overflow: hidden; }
    #comments li.comment .comment-body {
      display: flex;
      justify-content: space-between; }
      #comments li.comment .comment-body .vertical-line {
        width: 1px;
        height: 100%;
        position: absolute;
        left: 0; }
      #comments li.comment .comment-body > div {
        position: relative;
        padding: 0 18px;
        width: calc(100% - 80px); }
        @media (max-width: 767px) {
          #comments li.comment .comment-body > div {
            width: calc(100% - 50px); } }
        #comments li.comment .comment-body > div .comment-header {
          margin-bottom: 5px; }
          #comments li.comment .comment-body > div .comment-header h5 {
            font-weight: 300;
            letter-spacing: 0.011em;
            margin: 0; }
          #comments li.comment .comment-body > div .comment-header .time {
            font-size: 12px;
            font-size: 1.2rem; }
          @media (max-width: 767px) {
            #comments li.comment .comment-body > div .comment-header {
              margin-bottom: 2px; }
              #comments li.comment .comment-body > div .comment-header h5 {
                font-weight: 700;
                font-size: 14px;
                font-size: 1.4rem;
                line-height: 1.4rem; }
              #comments li.comment .comment-body > div .comment-header .time {
                font-size: 10px;
                font-size: 1rem; } }
        #comments li.comment .comment-body > div .comment-text {
          margin-bottom: 4px; }
          #comments li.comment .comment-body > div .comment-text p:last-child {
            margin-bottom: 0; }
          @media (max-width: 767px) {
            #comments li.comment .comment-body > div .comment-text {
              margin-bottom: 11px; }
              #comments li.comment .comment-body > div .comment-text p {
                line-height: 18px; } }
        #comments li.comment .comment-body > div .comment-footer a {
          transition: color .2s ease-in-out;
          cursor: pointer;
          margin-right: 20px; }
          #comments li.comment .comment-body > div .comment-footer a:hover {
            text-decoration: none; }
          #comments li.comment .comment-body > div .comment-footer a i {
            margin-right: 8px; }
    #comments li.comment .reply {
      overflow: hidden;
      width: calc(100% - 80px); }
      #comments li.comment .reply > ol {
        padding: 0;
        margin: 32px 21px; }
      @media (max-width: 767px) {
        #comments li.comment .reply {
          width: calc(100% - 30px); }
          #comments li.comment .reply > ol {
            padding: 0;
            margin: 32px 0; } }
  @media (max-width: 767px) {
    #comments {
      margin-top: 0; }
      #comments h2 {
        margin-top: 23px;
        margin-bottom: 12px; } }

.send-comment .name, .send-comment .email {
  width: 47%; }

.send-comment .text-area {
  min-height: 90px; }

.send-comment button {
  margin-top: 33px; }

@media (max-width: 767px) {
  .send-comment .name, .send-comment .email {
    width: 100%; }
  .send-comment button {
    width: 100%; } }


.preview-wrapper {
  opacity: 1;
  transition: opacity .2s ease-in-out;
  padding-top: 46px;
  overflow-x: auto;
  margin: 0 -15px;
  white-space: nowrap; }
  @media (max-width: 991px), (max-height: 768px) {
    .preview-wrapper {
      padding-top: 0;
      white-space: normal;
      margin: 130px 0 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row; } }
  .preview-wrapper.sidebar-pushed {
    opacity: .2; }

.post-preview {
  transition: all .2s ease-in-out !important;
  width: 360px;
  display: inline-block;
  margin-right: 40px;
  white-space: normal; }
  .post-preview:last-child {
    margin: 0; }
  @media (max-width: 992px), (max-height: 768px) {
    .post-preview {
      width: 345px;
      margin: 0 0 65px; } }
  @media (max-width: 767px) {
    .post-preview {
      width: 100%; } }
  .post-preview a {
    transition: inherit;
    display: inline-block; }
    .post-preview a img {
      width: 100%;
      transition: inherit; }
    @media (max-width: 767px) {
      .post-preview a {
        display: initial; } }
  .post-preview a {
    text-decoration: none !important; }
    .post-preview a h4 {
      text-decoration: none !important;
      margin-bottom: 27px;
      transition: inherit; }
      @media (max-width: 767px) {
        .post-preview a h4 {
          font-size: 16px;
          font-size: 1.6rem;
          margin-top: 24px;
          margin-bottom: 9px; } }
  .post-preview p {
    transition: inherit; }
  .post-preview .meta-data {
    transition: inherit;
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
    .post-preview .meta-data .activity {
      transition: inherit;
      display: inline-block; }
      .post-preview .meta-data .activity span {
        margin-right: 12px; }
    .post-preview .meta-data a {
      cursor: pointer;
      transition: all .2s ease-in-out; }
      .post-preview .meta-data a:hover {
        text-decoration: none; }
      .post-preview .meta-data a i {
        margin-left: 6px; }
      @media (max-width: 767px) {
        .post-preview .meta-data a {
          letter-spacing: 0.2em; } }
    .post-preview .meta-data span, .post-preview .meta-data a {
      font-size: 10px;
      font-size: 1rem; }
  .post-preview:hover a img {
    transition: inherit;
    opacity: 1 !important; }

.categories-mobile {
  display: none; }
  .categories-mobile .blog-filter {
    height: 55px !important; }
    .categories-mobile .blog-filter .filter button {
      font-size: 10px;
      font-size: 1rem;
      outline: none !important;
      background: transparent;
      display: inline-block;
      float: none;
      z-index: 10;
      padding: 4px 6px;
      margin: 0 25px 0 0;
      border: 1px solid;
      border-radius: 3px; }
  @media (max-width: 767px) {
    .categories-mobile {
      display: block; } }

@media (max-width: 767px) {
  .filter {
    margin-top: 28px;
    white-space: nowrap;
    overflow-x: scroll;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-bottom: 200px; } }

.open-demo a, .select-page a {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  transition: all .3s ease-in-out;
  font-size: 18px;
  font-size: 1.8rem; }
  .open-demo a img, .select-page a img {
    transition: inherit;
    width: 100%;
    margin-bottom: 32px; }

.open-demo a:hover img, .select-page a:hover img {
  transform: scale(1.1); }

.logo {
  margin-top: 49px;
  display: inline-block;
  font-size: 20px;
  font-size: 2rem;
  text-decoration: none !important; }
  .logo img {
    margin-right: 30px; }
  @media (max-width: 767px) {
    .logo {
      font-size: 16px;
      font-size: 1.6rem; }
      .logo img {
        width: 20px;
        margin-right: 15px; } }

.theme-select {
  letter-spacing: 0.2em;
  margin-top: 57px;
  display: inline-block;
  float: right; }
  .theme-select a {
    cursor: pointer;
    text-decoration: none !important;
    font-size: 12px;
    font-size: 1.2rem;
    display: inline-block;
    transition: color .2s ease-in-out; }
    .theme-select a:first-child {
      margin-right: 35px; }
  @media (max-width: 767px) {
    .theme-select {
      margin-top: 51px; }
      .theme-select a span {
        display: none; }
      .theme-select a:first-child {
        margin-right: 20px; } }

.demo-page .open-demo {
  margin-bottom: 38px; }

.demo-page h1:first-child {
  margin-bottom: 43px; }

.demo-page .portfolio {
  margin-bottom: 54px; }

.demo-page .select-page {
  margin-bottom: 38px; }
  .demo-page .select-page:last-child {
    margin-top: 52px;
    margin-bottom: 50px; }

@media (max-width: 992px) {
  .demo-page .select-page a {
    margin-bottom: 50px; } }

@media (max-width: 767px) {
  .demo-page .open-demo {
    margin-bottom: 20px; }
  .demo-page .select-page a {
    margin-bottom: 20px; }
  .demo-page .select-page {
    margin: 0 !important; }
  .demo-page h1 {
    font-size: 26px;
    font-size: 2.6rem;
    margin-top: 30px !important;
    margin-bottom: 15px !important; } }

.background-demo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; }

.showbox {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
  z-index: 99999999999; }

.loader {
  position: absolute;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50px; }
  .loader:before {
    content: '';
    display: block;
    padding-top: 100%; }

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round; }

@keyframes rotate {
  100% {
    transform: rotate(360deg); } }

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px; } }
