@import url('https://fonts.googleapis.com/css?family=Montserrat:300, 400,500,700,900|Raleway:300,400,500,700,900|');

$hunter-green: #088c62;
$forest-green: #00a07d;
$stone-gray: #423e3e;
$cloud-gray: #646a6b;
$light-gray: #ededed;


$break-large: 1200px;
$break-medium:920px;
$break-small: 900px;
$break-smallest:750px;
$mobile-screen:480px;
